<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211548454195-gca8gp5s0ajuupoltj2n9ak865294h26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211548454195-gca8gp5s0ajuupoltj2n9ak865294h26</string>
	<key>API_KEY</key>
	<string>AIzaSyDju-blprHkWs8tynOmf_BBC2wj-PNtk74</string>
	<key>GCM_SENDER_ID</key>
	<string>211548454195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theshubh77.shareeatapp</string>
	<key>PROJECT_ID</key>
	<string>apppizzaria-5d7b3</string>
	<key>STORAGE_BUCKET</key>
	<string>apppizzaria-5d7b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211548454195:ios:4d7a04f7b9b29ba1311246</string>
</dict>
</plist>